// purple
$purple-color1: #6a3688;
$purple-color2: #794a94;
$purple-color3: #220048;
$purple-color4: #7837c1;

// purple-white
$purple-white-color1: #e6d5f9;
$purple-white-color2: #e1d7e7;
$purple-white-color3: #a77dd4;
$purple-white-color4: #d0b7ea;
$purple-white-color5: #e0d4ef;

// white
$white-color: #fff;

// black
$black-color: #000;

// alert color
$alert-text-color: #fff;
$alert-bg-color: #bd1d1d;
$alert-badge-color: #ff4747;
