html,
body,
div,
p,
h1,
ul,
li,
svg,
svg path,
header,
footer,
section,
article,
button,
input {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

header,
footer,
section,
article {
  display: block;
}

button {
  background-color: transparent;
  border: 0;
  appearance: none;
}
