// body
$body-color: $white-color;

// header
$header-height: 50px;
$header-bg-color: $purple-color1;
$header-text-color: $white-color;

// header logo
$header-logo-color: $purple-white-color2;
$header-logo-width: $header-height * .7;

// nav menu
$menu-v-pos: $header-height * .4;
$menu-width: ($header-height * .45);
$menu-left: ($header-height - $menu-width) / 2;
$menu-span-text-color: $purple-white-color3;
$menu-transition-duration: .35s;
$menu-transition-delay: $menu-transition-duration + .1s;
$menu-transition-timing-func: ease-out;

$menu-open-middle: ((($header-height / 2) - $menu-v-pos) + 1) / 2;

$menu-line-color: rgba($white-color, .2);

// user
$user-icon-color: $purple-white-color1;

// footer
$footer-height: 160px;
$footer-bg-color: $purple-color3;
$footer-text-color: $purple-white-color1;
// $footer-bottom-line-color: rgba($white-color, .2);
// $footer-link-hover-text-color: $purple-white-color3;

$footer-nav-bar-color: #f0f0f0;
$footer-nav-text-color: #888;

// footer friends
$footer-friend-text-color: #333;
$footer-friend-link-color: #555;


// footer-button
$footer-button-border-color: $purple-color4;
$footer-button-text-color: $purple-white-color4;

// footer copyright
$footer-copy-since-color: $purple-white-color4;

// footer logo
// $footer-logo-color: $white-color;

// $copyright-bg-color: #ccc;

// section
$section-padding-top: $header-height;
// $section-padding-bottom: ($footer-height + 30px);
