html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: $body-color;
}

section {
  padding-top: $section-padding-top;
  // padding-bottom: $section-padding-bottom;
  font-size: .9rem;
}

.blink {
  animation: blink 3s linear infinite;
}
