footer {
  // $footer-padding-top: 30px;
  //
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // box-sizing: border-box;
  // width: 100%;
  font-size: .9rem;

  &::before,
  .footer-nav::after,
  .friends::after {
    display: block;
    height: 10px;
    content: '';
    background-color: $footer-nav-bar-color;
  }

  .footer-btn,
  .footer-info {
    padding: 0 10px;
    background-color: $footer-bg-color;
  }

  .bottom-logo,
  .footer-info .contact {
    display: none;
  }

  &,
  a {
    color: $footer-text-color;
    text-decoration: none;
  }

  .footer-nav {

    &::after {
      @include boxing;
    }

    li {
      box-sizing: border-box;
      float: left;
      width: 33.33333%;
      border-left: 1px solid $footer-nav-bar-color;
    }

    li:first-child {
      border-left: 0;
    }

    a {
      display: block;
      padding: 7px 10px;
      color: $footer-nav-text-color;
      text-align: center;
    }
  }

  .friends {
    padding-top: 10px;

    p {
      margin-bottom: 5px;
      padding: 0 10px;
      font-size: .7rem;
      font-weight: bold;
      color: $footer-friend-text-color;
      text-transform: uppercase;
    }

    ul {
      display: inline-block;
      padding: 0 10px 3px;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      display: inline-block;
      line-height: 1.5rem;
      color: $footer-friend-link-color;
    }
  }

  .footer-btn {
    padding-top: 10px;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 2px;
      padding: 5px 10px 4px;
      font-size: .8rem;
      color: $footer-button-text-color;
      text-decoration: none;
      border: 1px solid $footer-button-border-color;
    }
  }

  .footer-info {
    padding-bottom: 10px;

    .copyright {
      padding: 10px 0;
      font-family: Arial; // Android에서 Sign 심볼을 사용하지 않으려면 font를 변경해야 함.
      font-size: .8rem;
      text-align: center;

      .since {
        font-size: .9em;
        color: $footer-copy-since-color;
      }
    }
  }

}
