header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  background-color: $header-bg-color;
  transition-property: background-color, height;

  &,
  svg path,
  .nav-toggle::before,
  .nav-toggle::after,
  .alert-badge,
  nav li,
  .user {
    transition-timing-function: $menu-transition-timing-func;
    transition-duration: $menu-transition-duration;
  }

  a {
    color: $white-color;
    text-decoration: none;
  }

  h1 {
    z-index: 13;

    a,
    svg {
      width: $header-logo-width;
      height: $header-logo-width;
    }

    a {
      display: block;
      margin: 0 auto;
      padding: (($header-height - $header-logo-width) / 2);
    }

    svg path {
      transition-property: fill;
      fill: $header-logo-color;
    }
  }

  .nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $header-height;
    height: $header-height;
    overflow: hidden;
    text-indent: -999px;
    transition-property: transform;

    &::before,
    &::after {
      position: absolute;
      left: $menu-left;
      display: block;
      width: $menu-width;
      height: 1px;
      content: '';
      background-color: rgba($white-color, .8);
      transform-origin: 50% 50%;
    }

    &::before {
      top: $menu-v-pos;
    }

    &::after {
      bottom: $menu-v-pos;
    }
  }

  .alert-badge {
    position: absolute;
    top: 15px;
    left: 32px;
    width: 5px;
    height: 5px;
    font-size: 0;
    background-color: $alert-badge-color;
    border: 1px solid $header-bg-color;
    border-radius: 50%;
    transition-property: border-color, opacity, transform;
    transform: 0;
  }

  // nav
  nav {

    // menu
    ul {
      padding: 5% 10% 0;
      overflow: hidden;

      li {
        border-bottom: 1px solid $menu-line-color;
        opacity: 0;
        transition-timing-function: $menu-transition-timing-func;
        transition-duration: $menu-transition-duration;
        transition-property: opacity, transform;
        transform: scale(1.1) translateY(-24px);
      }

      @for $i from 1 through 3 {
        li:nth-child(#{$i}) {
          transition-delay: ($menu-transition-delay - (.1 * $i));
        }
      }

      a {
        display: block;
        padding: 1rem .1rem;
      }

      span {
        margin-left: .3rem;
        font-size: .6em;
        color: $menu-span-text-color;
      }
    }
  }

  .user {
    box-sizing: border-box;
    width: 100%;
    padding: 10% 10% 5%;
    opacity: 0;
    transition-delay: ($menu-transition-duration);
    transition-property: opacity, transform;
    transform: translateX(-200px);

    a {
      display: block;
      padding: .45rem .1rem;
      color: $user-icon-color;
    }

    i {
      margin-right: 5px;
    }

    em {
      display: inline-block;
      min-width: 8px;
      margin-left: 3px;
      padding: 1px 3px 0;
      font-size: .8em;
      font-style: normal;
      font-weight: bold;
      line-height: 1rem;
      color: $alert-text-color;
      text-align: center;
      background-color: $alert-bg-color;
      border-radius: 20%;
    }

  }
}

// html.open-menu
.open-menu {
  height: 100%;
  overflow: hidden;

  body {
    height: 100%;
    overflow: hidden;

    header {
      height: 100%;
      background-color: $purple-color3;

      .nav-toggle {
        &::before {
          transform: rotate(135deg) translate($menu-open-middle, -$menu-open-middle);
        }

        &::after {
          transform: rotate(45deg) translate(-$menu-open-middle, -$menu-open-middle);
        }
      } //.nav-toggle

      .nav-menu {
        position: absolute;
        top: $header-height;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
      } //.nav-area

      .alert-badge {
        border-color: $purple-color3;
        opacity: 0;
        transform: translate(-40px, 20px);
      }

      svg path {
        fill: $white-color;
      }

      nav {

        ul {
          overflow: hidden;
          overflow-y: scroll;
        }

        li {
          opacity: 1;
          transform: none;
        }
      } // nav

      .user {
        opacity: 1;
        transform: none;
      }

    }


  }
}
