{@
$_layout_head = '<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">'."\n";
$_layout_head .= '<meta name="theme-color" content="#794a94">'."\n";
$_layout_head .= '<meta name="apple-mobile-web-app-title" content="'.Context::getSiteTitle().'">'."\n";
$_layout_head .= '<link rel="mask-icon" href="'.$layout_info->path.'svg/logo.svg" color="#6a3688">'."\n";
$_layout_head .= '<link rel="apple-touch-icon" sizes="57x57" href="'.$layout_info->path.'icon/icon@57.png">'."\n";
$_layout_head .= '<link rel="apple-touch-icon" sizes="72x72" href="'.$layout_info->path.'icon/icon@72.png">'."\n";
$_layout_head .= '<link rel="apple-touch-icon" sizes="114x114" href="'.$layout_info->path.'icon/icon@114.png">'."\n";
$_layout_head .= '<link rel="apple-touch-icon" sizes="144x144" href="'.$layout_info->path.'icon/icon@144.png">'."\n";
$_layout_head .= '<link rel="icon" href="'.$layout_info->path.'icon/favicon-16.png" sizes="16x16" type="image/png">'."\n";
$_layout_head .= '<link rel="icon" href="'.$layout_info->path.'icon/favicon-32.png" sizes="32x32" type="image/png">'."\n";
$_layout_head .= '<link rel="icon" href="'.$layout_info->path.'icon/favicon-48.png" sizes="48x48" type="image/png">'."\n";
$_layout_head .= '<link rel="icon" href="'.$layout_info->path.'icon/favicon-62.png" sizes="62x62" type="image/png">'."\n";
$_layout_head .= '<link rel="icon" href="'.$layout_info->path.'icon/favicon-192.png" sizes="192x192" type="image/png">'."\n";
Context::addHtmlHeader($_layout_head);

// 새쪽지 갯수
$logged_info = Context::get('logged_info');
$layout_message->receiver_srl = $logged_info->member_srl;
$layout_message_output = executeQueryArray('communication.getNewMessage', $layout_message);
$layout_message->count = $layout_message_output->total_count;
}
<load target="style.css" />
<header>
  <div class="wrap">
    <h1><a href="/" aria-label="Homepage"><include target="svg/logo.svg" /></a></h1>
    <nav>
      <ul>
        <li loop="$top_menu->list=>$key1,$val1"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'" class="active"|cond="$val1['selected']">{$val1['link']}<span>{$val1['desc']}</span></a></li>
      </ul>
    </nav>
    <ul class="user">
<!--@if(!$is_logged)-->
      <li><a href="{getUrl('act','dispMemberLoginForm')}"><i class="ico-sign-in" aria-hidden="true"></i>&nbsp;로그인</a></li>
<!--@else-->
<!--@if($layout_message->count > 0)-->
      <li><a href="{getUrl('act','dispCommunicationMessages')}" class="blink"><i class="ico-messages" aria-hidden="true"></i>새쪽지<em>{$layout_message->count}</em></a></li>
<!--@end-->
      <li><a href="{getUrl('act','dispMemberInfo','member_srl',$logged_info->member_srl)}"><i class="ico-user" aria-hidden="true"></i>&nbsp;내정보</a></li>
<!--@if($logged_info->is_admin == 'Y')-->
      <li><a href="{getUrl('','module','admin')}" target="_blank"><i class="ico-settings" aria-hidden="true"></i>&nbsp;관리</a></li>
<!--@end-->
      <li><a href="{getUrl('act','dispMemberLogout')}"><i class="ico-sign-out" aria-hidden="true"></i>&nbsp;로그아웃</a></li>
<!--@end-->
    </ul>
  </div>
</header>
<section class="wrap">
{$content}
</section>
<footer>
  <div class="wrap">
    <div class="friends">
      <p>Friends</p>
      <ul>
        <li loop="$friends->list=>$key2,$val2"><a href="{$val2['href']}" target="_blank" title="{$val2['desc']}"|cond="$val2['desc']">{$val2['link']}</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <p class="copyright">Copyright &copy;FORSES. <span class="since">Since 1999</span></p>
      <p class="contact"><a href="mailto:master@forses.net">master@forses.net</a></p>
    </div>
    <div class="bottom-logo"><include target="svg/logo.svg" /></div>
  </div>
</footer>
