// body
$body-color: $white-color;

// header
$header-height: 60px;
$header-bg-color: $purple-color1;
$header-text-color: $white-color;

// header logo
$header-logo-color: $purple-white-color2;
$header-logo-hover-color: $white-color;
$header-logo-width: $header-height * .7;
$header-logo-transit-duration: 300ms;

// header link
$header-link-bg-color: $purple-color2;
$header-link-text-color: $header-text-color;
$header-link-sub-text-color: rgba($white-color, .5);
$header-link-transit-duration: 200ms;

// header userinfo
$header-user-link-color: $purple-white-color1;

// footer
$footer-height: 160px;
$footer-bg-color: $purple-color3;
$footer-text-color: $purple-white-color1;
$footer-link-hover-text-color: $purple-white-color3;

// footer friends
$footer-friend-text-color: $purple-color4;
$footer-friend-bottom-line-color: rgba($white-color, .2);

// footer copyright
$footer-copy-since-color: $purple-white-color4;

// footer logo
$footer-logo-color: $white-color;

// section
$section-padding-top: ($header-height + 30px);
$section-padding-bottom: ($footer-height + 30px);
