html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: $white-color;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

section {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
  font-size: .9rem;
}

.blink {
  animation: blink 3s linear infinite;
}

@media (max-width: 1020px) {
  .wrap {
    width: auto;
    min-width: 740px;
    margin: 0 10px;
  }
}
