footer {
  $footer-padding-top: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: ($footer-height - $footer-padding-top);
  padding-top: $footer-padding-top;
  font-size: .9rem;
  background-color: $footer-bg-color;

  .wrap {
    position: relative;
    height: 100%;
  }

  &,
  a {
    color: $footer-text-color;
  }

  a {
    text-decoration: none;

    &:hover,
    &focus {
      color: $footer-link-hover-text-color;
      text-decoration: underline;
    }
  }

  .friends {
    p {
      margin-bottom: 5px;
      font-size: .8rem;
      color: $footer-friend-text-color;
      text-transform: uppercase;
    }

    ul {
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 1px solid $footer-friend-bottom-line-color;
    }

    li {
      display: inline;
      margin-right: 10px;
    }

    a {
      line-height: 1.5rem;
    }
  }

  .footer-info {
    margin-top: 20px;

    p {
      display: inline;
    }

    .since {
      font-size: .8rem;
      color: $footer-copy-since-color;
    }

    .contact {
      margin-left: 20px;

      // Android에서 Sign 심볼을 사용하지 않으려면 font를 변경해야 함.
      font-family: Arial;
    }
  }

  .bottom-logo {
    position: absolute;
    right: 0;
    bottom: 10px;

    svg {
      width: 50px;
      height: 50px;
      opacity: .2;

      path {
        fill: $footer-logo-color;
      }
    }
  }
}
