
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: $header-bg-color;

  li a {
    display: block;
    height: 100%;
    padding: 0 15px;
    overflow: hidden;
    line-height: 60px;
    color: $header-link-text-color;
    text-decoration: none;
    transition-duration: $header-link-transit-duration;
    transition-property: background-color;

    &:hover,
    &:focus {
      background-color: $header-link-bg-color;
    }
  }

  &,
  h1,
  .wrap {
    height: $header-height;
  }

  h1 {
    float: left;

    a {
      display: block;
      padding: (($header-height - $header-logo-width) / 2) 0;
    }

    svg {
      width: $header-logo-width;
      height: $header-logo-width;

      path {
        transition: fill $header-logo-transit-duration;
        fill: $header-logo-color;
      }
    }

    a:hover svg path,
    a:focus svg path {
      fill: $header-logo-hover-color;
    }
  }

  // menu
  nav {
    float: left;
    height: 100%;
    margin-left: 20px;

    &,
    ul,
    li {
      height: 100%;
    }

    ul::after {
      @include boxing;
    }

    li {
      float: left;
      vertical-align: middle;
    }

    a {
      position: relative;
      transition-property: background-color, line-height;

      span {
        position: absolute;
        top: 100%;
        display: block;
        font-size: .6rem;
        color: $header-link-sub-text-color;
        transition-duration: $header-link-transit-duration;
        transition-property: top;
      }

      &:hover,
      &:focus {
        line-height: 50px;

        span {
          top: 15px;
        }
      }

      // menu active
      &.active::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        margin-left: -5px;
        content: '';
        border-right: 5px solid transparent;
        border-bottom: 4px solid $white-color;
        border-left: 5px solid transparent;
      }

      // &:hover,
      // &:focus {
      //   color: rgba($header-text, .6);
      // }
    } // a

  }// nav


  .user {
    float: right;

    li {
      float: left;
      font-size: .85rem;
    }

    a {
      position: relative;
      color: $header-user-link-color;
    }

    i {
      margin-right: 4px;
    }

    em {
      display: inline-block;
      min-width: 8px;
      margin-left: 3px;
      padding: 1px 3px 0;
      font-size: .8em;
      font-style: normal;
      font-weight: bold;
      line-height: 1rem;
      color: $alert-text-color;
      text-align: center;
      background-color: $alert-bg-color;
      border-radius: 20%;
    }

  }
}
