.ico-sign-in {
  @include custom-fa-icon($fa-var-sign-in);
}

.ico-sign-out {
  @include custom-fa-icon($fa-var-sign-out);
}

.ico-user {
  @include custom-fa-icon($fa-var-user);
}

.ico-settings {
  @include custom-fa-icon($fa-var-cog);
}

.ico-messages {
  @include custom-fa-icon($fa-var-comments);
}
